*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100vh;
}

.text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.text-item{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  font-size: max(1.2vw, 1.1rem);
}

.text-item span, .text-item label{
  font-weight: 300;
  margin-right: 1vw;
  user-select: none;
  color: rgb(58, 58, 58);
}

.text-item input{
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 2px;
  padding-left: 2px;
  font-size: max(0.8vw, 1rem);
  transition: all .2s;
  font-weight: 300;
}

.text-item input:hover, .text-item input:focus{
  border-bottom: 1px solid #1e1e1e;
}

.calendar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.calendar-controls-container{
  margin-top: 5vh;
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: max(1.2vw, 1.1rem);
}

.now{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.base-btn{
  background-color: transparent;
  border-radius: 5px;
  width: 5%;
  height: 70%;
  border: 1px solid rgb(58, 58, 58);
  font-weight: 600;
  cursor: pointer;
  transition: all .2s;
}

.base-btn:hover{
  background-color: rgba(0, 0, 0, .05);
}

.left{
  float: left;
  margin-left: 20%;
}

.right{
  float: right;
  margin-right: 20%;
}

.calendar-main{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 10px;
}

.calendar-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  user-select: none;
}

.calendar-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
}

.violate-container{
  margin-top: 2.5vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.violate-container button{
  width: 10%;
  height: 5vh;
  border: 1px solid rgb(58, 58, 58);
  font-weight: 600;
  cursor: pointer;
  transition: all .2s;
  background-color: transparent;
  border-radius: 10px;
  font-weight: 300;
}

.violate-container :hover{
  opacity: .6;
}